@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2da950;
  border: 3px solid transparent;
  border-radius: 6px;
  background-clip: content-box;
}

.manrope400 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manrope500 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope600 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.manrope700 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

.css-26w9jf-MuiMobileStepper-dot,
.css-n06765 {
  background-color: #2da950 !important;
}

#invalidSVG {
  display: none;
}

.css-10hburv-MuiTypography-root {
  font-size: 15px !important;
}

.css-urqok2-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-10hburv-MuiTypography-root:hover,
.css-vqe60f:hover,
.css-yb0lig:hover {
  background-color: #4e4e4e !important;
  transition: all;
  transition-duration: 800ms;
}
